# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Environment
.env
*.env

# Data files (too large for git)
data/
checkpoints/

# Terraform secrets
infrastructure/terraform/terraform.tfvars
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.backup

# dbt
transformations/target/
transformations/dbt_packages/
transformations/logs/

# Monitoring reports
monitoring/reports/

# IDE
.vscode/
.idea/.env 
*.env 
